input {
  display: block;
  margin: 0 auto;
  width: 50%;
}

button {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.partly-cloudy {
  font-size: 100px;
  margin: 50px auto 0 auto;
  text-align: center;
  width: 100%;
}

.center {
  display: block;
  font-size: 100px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.units {
  font-size: 25px;
  vertical-align: super;
}

h2 {
  display: block;
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

h3 {
  display: block;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

img {
  border-radius: 10px;
  display: block;
  height: 200px;
  margin: 50px auto;
}

.weather {
  font-size: 50px;
}

.code {
  display: block;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
